 :root {
  --biru: #4F98CA;
  --hijau: #50D890;
  --putih: #EFFFFB;
  --hitam: #272727;
}

.login {
      border: 3px solid var(--biru); 
      background-color: var(--putih); 
    padding:70px 0;
}

 

.image img {
    width: 250px;
    height: 250px;
}

@media screen and (min-width:720px) {
    .login {
      width: 800px;  
      border: 3px solid var(--biru); 
      border-radius: 15px;       
      padding: 40px;             
      background-color: var(--putih); 
      padding: 100px 0;
    }
}