 :root {
  --biru: #4F98CA;
  --hijau: #50D890;
  --putih: #EFFFFB;
  --hitam: #272727;
}

body {
  background: var(--biru);
background: linear-gradient(169deg, rgba(79, 152, 202, 1) 0%, rgba(233, 251, 249, 1) 78%, rgba(239, 255, 251, 1) 100%);
}

.login {
      border: 3px solid var(--biru); 
      background-color: var(--putih); 
    padding:70px 0;
}

 

.image img {
    width: 250px;
    height: 250px;
}

.register label {
  font-size: 0.85rem;
}

.register a{
  text-decoration: none;
  color: var(--biru);
}

.register a:hover {
  color: var(--hitam);
}
@media screen and (min-width:720px) {
    .login {
      width: 800px;  
      border: 3px solid var(--biru); 
      border-radius: 15px;       
      padding: 40px;             
      background-color: var(--putih); 
      padding: 100px 0;
    }
}
