*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --biru:#4F98CA;
  --hijau: #50D890;
  --putih: #EFFFFB;
  --hitam: #272727;
}


.navbar-light .navbar-nav .nav-link {
  color: red;
}

/* .nav-link {
  color: red;
}
 */
