*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}

:root {
  --biru:#4F98CA;
  --hijau: #50D890;
  --putih: #EFFFFB;
  --hitam: #272727;
}


.navbar-light .navbar-nav .nav-link {
  color: var(--biru);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--hijau);
}

.wrap-contact {
  padding: 0 250px;
  
}

@media screen and (max-width:720px) {
  .wrap-contact {
    padding: 0 100px;
  }
}



/* .nav-link {
  color: red;
}
 */
